* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background-color: #dec790;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-modern {
    width: 200px;
    background-color: #ff0d66;
    border: 2px solid #200e38;
    border-radius: 30px;
    color: #200e38;
    cursor: pointer;
    font-weight: 600;
    font-size: 20px;
    padding: 0 20px;
    line-height: 55px;
    text-align: center;
    transition: all 0.4s;
}

.btn-modern:hover {
    transform: translateY(-5px);
    box-shadow: #200e38 8px 8px 0 0;
    background-color: #6a0e47;
    color: #dad0e6;
}